<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/" method="post">
        <h2>contacto</h2>
        <div class="input-group">
          <form action="">
            <h2>contacto</h2>
            <div class="input-group">
              <label for="email">email</label>
              <input type="email" name="email" id="email" placeholder="correo">
              
              <label for="name">nombre</label>
              <input type="text" name="name" id="name" placeholder="nombre">
              
                <label for="comment">comentario</label>
                <textarea name="comment" id="comment" cols="30" rows="10" placeholder="comentario"></textarea>
    
                <div class="form-txt">
                    <a href="#">politica de privacidad</a>
                    <a href="#">terminos y condiciones</a>
                </div>
    
                <input class="btn" type="submit" >
            </div>
        </form>
  </body>
</html>
