<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    
  <!-- HTML Meta Tags -->
  <title>Pablo Zerpa,31 786 816, seccion 3</title>
  <meta name="description" content="curriculum con formulario de contacto">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://p2-31786816.onrender.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Pablo Zerpa,31 786 816, seccion 3">
  <meta property="og:description" content="curriculum con formulario de contacto">
  <meta property="og:image" content="https://i.postimg.cc/YCb94zkc/Captura-web-17-6-2023-211941-p2-31786816-onrender-com.jpg">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="p2-31786816.onrender.com">
  <meta property="twitter:url" content="https://p2-31786816.onrender.com">
  <meta name="twitter:title" content="Pablo Zerpa,31 786 816, seccion 3">
  <meta name="twitter:description" content="curriculum con formulario de contacto">
  <meta name="twitter:image" content="https://i.postimg.cc/YCb94zkc/Captura-web-17-6-2023-211941-p2-31786816-onrender-com.jpg">

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->
        

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
      function onSubmit(token) {
        document.getElementById("contact-form").submit();
      }
    </script>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-270511935-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<%= viss %>');
</script>

  </head>